*{
    margin: 0;
	  padding:: 0;
	font-family: sans-serif;
    h1{
  background-image: url('chalktexture.jpg');
  padding-left: 11em;
  padding-right: 20em;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
